@import 'normalize';
@import 'scss/common';

$blue-0: #061E33;
$blue-3: #576876;
$yellow-0: #FBD9AE;
$yellow-1: #fff0db;
$yellow-2: #E7E7E8;
$red-0: #FF5B3D;
$red-1: #E77277;

/* text */

.text-center {
  text-align: center;
}

.text-small {
  font-size: .65em;
}

.ease {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/* nav */
.nav {
  font-family: 'Times', 'Times New Roman', serif;
  padding: .6rem .5rem;
  .nav-brand {
    float: left;
    margin: 0;
    position: relative;
    z-index: 999;
  }
  .nav-toggle {
    float: right;
    padding: .5rem 1rem;
    position: relative;
    z-index: 999;
    mix-blend-mode: exclusion;
    span {
      display: block;
      margin: 7px 0 7px auto;
      width: 35px;
      height: 3px;
      background: #888;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
      &:nth-child(1) {
        width: 26px;
      }
      &:nth-child(3) {
        width: 15px;
        position: relative;
        &::before {
          content: "";
          display: block;
          width: 5px;
          height: 3px;
          position: absolute;
          right: 15px;
          background: #888;
          transition: all .3s ease-out;
        }
      }
    }
    &:hover {
      span:nth-child(1), span:nth-child(2) {
        width: 32px;
      }
      span:nth-child(3)::before {
        width: 17px;
      }
    }
  }
  .nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 800;
    background-repeat: no-repeat;
    background-position: center center;
    height: 0;
    width: 0;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
    label {
      display: none;
      position: fixed;
      top: 1.8rem;
      right: 4.2rem;
      -webkit-animation: fadeIn 1s forwards;
      animation: fadeIn 1s forwards;
      color: #bbb;
    }
    li {
      visibility: hidden;
      line-height: 1.0;
      margin: .5rem 0;
      span {
        vertical-align: top;
        color: $yellow-2;
      }
      a {
        font-size: 2.5rem;
      }
    }
  }
}
.nav.expanded {
  .nav-brand {
     pointer-events: none;
     cursor: default;
  }
  .nav-toggle {
    &:hover {
      transform: translate(2px, -3px);
    }
    span {
      &:nth-child(1) {
        width: 15px;
        transform: translate(-3px, 0px);
      }
      &:nth-child(2) {
        width: 27px;
        transform: rotate(-45deg);
        transform-origin: bottom;
      }
      &:nth-child(3) {
        width: 15px;
        transform: translate(3px, -12px) rotate(-90deg);
        &::before {
          width: 0;
          opcity: 0;
        }
      }
    }
  }
  .nav-list {
    visibility: visible;
    opacity: 1;
    height: 100%;
    width: 100%;
    background-color: white;
    background-image: url(../img/bg.gif);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    label {
      display: block;
    }
    li {
      visibility: visible
    }
    @for $i from 1 through 4 {
      li:nth-child(#{$i}) {
        opacity: 0;
        -webkit-animation: fadeIn 3s forwards #{$i*0.2}s;
        animation: fadeIn 3s forwards #{$i*0.2}s;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 767px) {
  .nav .nav-toggle::after {
    content: "m e n u";
    font-size: .65em;
    position: fixed;
    top: 1.8rem;
    right: 4.3rem;
    color: #bbb;
    opacity: .5;
    display: block;
    -webkit-transition: opacity .7s .7s ease;
    transition: opacity .7s .7s ease;
    width: 2rem;
  }
  .nav.expanded .nav-toggle::after {
    -webkit-transition: none;
    transition: none;
    opacity: 0;
  }
  .nav .nav-list {
    border: 60px solid $yellow-2;
  }
}

body {
  transition: all .5s linear;
  background-color: $yellow-2;
  font-family: 'Arial', sans-serif;
  background: $yellow-2 center no-repeat;
}
body.loading {
  opacity: 0;
  visibility: hidden;
  background: url(../img/loading.gif) center no-repeat;
  background-color: $yellow-2 !important;
}
.no-js body.loading {
  opacity: 1;
  visibility: visible;
  background-image: none;
}

/* ==========================================================================
   Index
========================================================================== */
@import 'font/font.css';

body {
  height: 100%; //fallback
  height: 100vh;
  overflow: hidden;
}

body.dark {
  background-color: $blue-0;
}

svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%; //fallback
  height: 100vh;
  z-index: -1;
}

footer {
  height: 60px;
  color: transparentize($yellow-2, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/*
====
neon
====
*/

.neon {
  text-align: center;
  font-family: 'LearningCurveProRegular';
  font-weight: normal;
  color: lighten($yellow-0, 30%);
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;
  &:nth-child(1){
    font-size: 4.5rem;
    margin: 0 0 0 5px;
  }
  &:nth-child(2){
    font-size: 6rem;
    margin: -3rem 0;
    position:relative;
    &::before, &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      z-index: 0
    }
    &::before {
      width: 2rem;
      height: 94%;
      bottom: 0;
      border-left: 1px solid rgba(0,0,0,0.1);
      border-right: 1px solid rgba(0,0,0,0.1)
    }
    &::after {
      width: 18rem;
      height: 2rem;
      top: 45%;
      border-top: 1px solid rgba(0,0,0,0.3);
      border-bottom: 1px solid rgba(0,0,0,0.3)
    }
    div {
      position: relative;
      height: 1.68817em;
      z-index: 400;
      span:nth-child(1) {
        -webkit-animation: blink linear infinite 4s;
        animation: blink linear infinite 4s;
        position: absolute; bottom: auto; left: 50%; transform: translateX(-0.196289em) rotate(-23.8871deg); transform-origin: center 3.75em 0px;
      }
      span:nth-child(2) {
        -webkit-animation: blink linear infinite 4s;
        animation: blink linear infinite 4s;
        position: absolute; bottom: auto; left: 50%; transform: translateX(-0.161865em) rotate(-15.1549deg); transform-origin: center 3.75em 0px;
      }
      span:nth-child(3) {
        position: absolute; bottom: auto; left: 50%; transform: translateX(-0.106445em) rotate(-8.61318deg); transform-origin: center 3.75em 0px;
      }
      span:nth-child(4) {
        position: absolute; bottom: auto; left: 50%; transform: translateX(-0.210938em) rotate(-0.875008deg); transform-origin: center 3.75em 0px;
      }
      span:nth-child(5) {
        position: absolute; bottom: auto; left: 50%; transform: translateX(-0.144287em) rotate(7.78579deg); transform-origin: center 3.75em 0px;
      }
      span:nth-child(6) {
        -webkit-animation: blink linear infinite 4s;
        animation: blink linear infinite 4s;
        position: absolute; bottom: auto; left: 50%; transform: translateX(-0.144287em) rotate(14.8216deg); transform-origin: center 3.75em 0px;
      }
      span:nth-child(7) {
        position: absolute; bottom: auto; left: 50%; transform: translateX(-0.211914em) rotate(23.5062deg); transform-origin: center 3.75em 0px;  
      }
    }
  }
  &:nth-child(3){
    font-size: 5rem;
    transform: rotate(-7deg);
    margin: -3.6rem 0 0 10px;
    .blink {
      -webkit-animation: blink linear infinite 4s .5s;
      animation: blink linear infinite 4s .5s;
    }
  }
}

@keyframes neon {
  from {
    text-shadow:
      0 0 5px transparentize(white, 0.3),
      0 0 10px transparentize(white, 0.5),
      0 0 15px transparentize(white, 0.75),
      0 0 20px $yellow-0,
      0 0 35px $yellow-0,
      0 0 45px $blue-3;
  }
  to {
    text-shadow:
      0 0 5px transparentize(white, 0.3),
      0 0 15px transparentize(white, 0.25),
      0 0 20px transparentize(white, 0.5),
      0 0 30px $yellow-0,
      0 0 48px $yellow-0,
      0 0 52px $blue-3;
  }
}
@keyframes blink {
  78% {
    color: inherit;
  }
  79%{
    color: transparentize(white, 0.5);
    opacity: 1;
  }
  80% {
    opacity: .3;
  }
  82% {
    color: inherit;
    opacity: .9;
  }
  84% {
    color: transparentize(white, 0.5);
    opacity: .3;
  }
  86% {
    color: inherit;
    opacity: 1;
  }
}

/*
=====
stars
=====
*/

.shoot {
  width: 5px;
  height: 5px;
  background-color: $yellow-1;
  box-shadow: 0px 1px 30px 0px rgba(255, 255, 255, 1);
  position: absolute;
  border-radius: 50%;
  &:nth-child(1) {
    top: 30%;
    left: -5%;
    -webkit-animation: shooting-star 8s ease-out 5s forwards infinite;
    animation: shooting-star 8s ease-out 5s forwards infinite;
  }
  &:nth-child(2) {
    top: 60%;
    left: 70%;
    -webkit-animation: shooting-star 10s ease-out forwards infinite;
    animation: shooting-star 10s ease-out forwards infinite;
  }
}

@keyframes shooting-star {
  0% {
    transform: scale(1);
    transform: translate(0,0);
    opacity: 1;
  }
  20%,100% {
    transform: scale(0);
    transform: translate(400px,200px);
    opacity: 0;
  }
}

.stars {
  padding: 20px;
}
.stars div {
  background-color: $yellow-2;
  width: 2px;
  height: 2px;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: star infinite reverse;
  animation: star infinite reverse;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, .3)
}

@keyframes star {
  0% { opacity: 0; }
  25% { opacity: 0.7; }
  75% { opacity: 0.7; }
  100% { opacity: 0; }
}

@import 'scss/responsive';