<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'kr' }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

  </body>
  
  <script>
    var header = document.querySelector(".site-header");
    window.onscroll = function() {
      if( document.body.scrollTop+document.documentElement.scrollTop > 0)
          header.classList.add("sticky");
      else header.classList.remove("sticky");
    };
  </script>
</html>
