<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'kr' }}">

  {% include head.html %}

  <body>

    {% include header.html %}
    <div>
    {{ content }}
    </div>
    {% include footer.html %}

    <script src="{{ '/assets/js/plugins.js' | relative_url }}"></script>
    <script>
      var header = document.querySelector(".site-header");
      window.onscroll = function() {
        if( document.body.scrollTop+document.documentElement.scrollTop > 0)
            header.classList.add("sticky");
        else header.classList.remove("sticky");
      };
      var mobileNav = document.querySelector("#nav-trigger");
      mobileNav.addEventListener("click",function() {
        if (mobileNav.checked) {
          document.body.style.overflow = "hidden";
        }
        else {
          document.body.style.overflow = "";
        }
      });
      var grid = document.querySelector('.grid');
      var msnry = new Masonry( grid, {
        itemSelector: '.grid-item', // select none at first
        columnWidth: '.grid-sizer',
        gutter: '.grid-gutter-sizer',
        percentPosition: true,
        stagger: 30,
        // nicer reveal transition
        visibleStyle: { transform: 'translateY(0)', opacity: 1 },
        hiddenStyle: { transform: 'translateY(100px)', opacity: 0 },
      });
      if ( document.querySelector('.pager') ) {
        var infScroll = new InfiniteScroll( grid, {
          path: '.next',
          append: '.grid-item',
          outlayer: msnry,
          status: '.page-load-status',
          hideNav: '.pager',
          scrollThreshold: 0,
          responseType: 'document'
        });
      }
    </script>
    {% include google-analytics.html %}
  </body>
</html>
