<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'kr' }}">

  {% include head.html %}

  <body>

    {% include header.html %}
    <div>
    {{ content }}
    </div>
    {% include footer.html %}

    <script src="{{ '/assets/js/plugins.js' | relative_url }}"></script>
    <script>
      var header = document.querySelector(".site-header");
      window.onscroll = function() {
        if( document.body.scrollTop+document.documentElement.scrollTop > 0)
            header.classList.add("sticky");
        else header.classList.remove("sticky");
      };
      var mobileNav = document.querySelector("#nav-trigger");
      mobileNav.addEventListener("click",function() {
        if (mobileNav.checked) {
          document.body.style.overflow = "hidden";
        }
        else {
          document.body.style.overflow = "";
        }
      });
    </script>
    {% include google-analytics.html %}
  </body>
</html>
