---
layout: default
---

<div class="home">

  {{ content }}
  
  <section class="page-heading">
    <div class="wrapper">
      <h1 class="page-title">전체</h1>
      <div class="post-meta">전체 포스팅 &nbsp;|&nbsp; {{ site.posts.size }}개의 글</div>
    </div>
  </section>
  
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url | relative_url }}">
              {% assign date_format = site.jyoon.date_format | default: "%Y. %m. %d" %}
              <span class="post-meta">{{ post.date | date: date_format }}</span>

              <h2 class="post-title">
                <strong>{{ post.title | escape }}</strong>
              </h2>
              
              <span class="post-meta">{{ post.subtitle | escape }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </main>
  
</div>
