---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  
  <section class="page-heading">
    <div class="wrapper">
      <h1 class="page-title" itemprop="name headline">{{ page.title | escape }}</h1>
      <div class="post-meta">
        {{ page.categories }} &nbsp;|&nbsp;
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.jyoon.date_format | default: "%Y. %m. %d" %}
          {{ page.date | date: date_format }}
        </time>
      </div>
    </div>
  </section>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </div>
  </main>
  
</article>
