---
layout: default
---

<div class="search">

  <section class="page-heading">
    <div class="wrapper">
      <h1 class="page-title">검색</h1>
      <div id="search-searchbar"></div>
    </div>
  </section>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
      <ul class="post-list">
        <div id="search-hits"></div>
    </div>
  </main>

</div>

<!-- Including InstantSearch.js library and styling -->
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3.3/dist/instantsearch.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3.3/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3.3/dist/instantsearch-theme-algolia.min.css">
<script src="{{ '/assets/js/algolia.js' | relative_url }}"></script>
